.db__layout {
  height: 100%;
  .db__sider {

  }

  .db__header {

    margin: 0;
    padding: 0;
    height: 6rem;
  }
  .db__content {

  }
  .db__footer {
    background-color: #edf2f7;
    margin: 0, auto;
    text-align: center;
    font-size: 1rem;
  }
}
