.db__layout {
  // set in inline style
  // min-height: 100%;

  .db__sider {

  }

  .db__header {
    margin: 0;
    padding: 0;
    height: 6rem;
  }
  .db__content {
    margin: 1rem;
    background-color: #fff;
  }
  .db__footer {
    height: 3.5rem;
    margin: 0, auto;
    padding: 0;
    text-align: center;
    background-color: #e2e8f0;
  }
}


